body{
  width: 800px;
  padding: 10px;
  margin: 0 auto;
}

.loading {
  display: block !important;
}

.loader {
  display: none;
}

.breed-select {
  width: 100%;
}
.single {
display: none;}

.ss-main {
  max-width: 100%;
}
.error {
  display: none;
}

.cat-info {
  max-width:800px;
  padding: 10px;
}
img {
  width: 100%;
}
