body{
  width: 800px;
  padding: 10px;
  margin: 0 auto;
}

.loading {
  display: block !important;
}

.loader {
  display: none;
}
.error {
  display: none;
}

.breed-select {
  width: 100%;
  display: none;
}





.cat-info {
  max-width:800px;
  padding: 10px;
}
img {
  width: 100%;
}
.loader {
  margin: auto;
  border: 20px solid darkgray;
  border-radius: 50%;
  border-top: 20px solid red;
  width: 100px;
  height: 240px;
  --webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}