body{
  width: 800px;
  padding: 10px;
  margin: 0 auto;
}

.loading {
  display: block !important;
}

/* .loader {
  display: none;
} */
.error {
  display: none;
}

.breed-select {
  width: 100%;
  display: none;
}





.cat-info {
  max-width:800px;
  padding: 10px;
}
img {
  width: 100%;
}


.select.is-hidden {
  display: none;
}
.error.is-hidden {
  display: none;
}
p.is-hidden {
  display: none;
}